html body img {
    max-width: 100% !important;
    width: 100%;
}
div.page-header {
    border: medium none;
    margin: 0;
    padding: 0;
}
div.control-group div.control-label {
    text-align: left;
}
div.control-group input, div.control-group textarea {
    width: 100%;
}
div.control-group input#jform_contact_email_copy {
    margin-bottom: 20px;
    width: auto;
}
div.control-group label {
    font-weight: initial;
}
div.control-group legend {
    font-size: initial;
}
html body ul, html body ol {
    margin: 0;
}
ul.sigFreeClassic {
    text-align: center;
}
ul.sigFreeClassic li.sigFreeThumb {
    display: inline-block;
    float: none;
}
p.readmore {
    margin: 0;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
div#dark-layer {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  	top: 0;
}
div#dark-layer.inactive {
    display: none;
}
div#dark-layer.active {
    display: block;
}
div#off-canvas {
    width: 300px;
    position: absolute;
    z-index: 4;
    height: 100%;
  	top: 0;
  	background-color: white;
    box-shadow: 0 0 5px black;
  	overflow-y: auto;
}
div#off-canvas.closed {
    left: -305px;
    transition: all 0.5s ease 0s;
}
div#off-canvas.open {
    left: 0;
    transition: all 0.5s ease 0s;
}
button#mobile-menu-button {
  	margin: 0 15px;
}
div#mobile-menu-close-wrapper {
  	text-align: right;
}
div#mobile-menu-close {
  	color: #333333;
  	padding: 10px 15px;
  	cursor: pointer;
  	display: inline-block;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  	margin: 0;
}
div.icons {
  	display: none;
}